*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #a42edf;
}

.recipe{
  float: left;
}

.container{
  margin-left: 130px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.ingredient{
  margin-left: 100px;
}